@font-face {
  font-family: 'robotoregular';
  src: url('fonts/Roboto-Regular-webfont.eot');
  src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('fonts/Roboto-Bold-webfont.eot');
  src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Roboto-Bold-webfont.woff') format('woff'),
  url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
  url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoboldcon';
  src: url('fonts/RobotoCondensed-Bold-webfont.eot');
  src: url('fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
  url('fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
  url('fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* UTILS */
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin transition($prop, $timing, $ease, $delay) {
  -webkit-transition: $prop $timing $ease $delay;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: $prop $timing $ease $delay;  /* Firefox 4-15 */
  -o-transition: $prop $timing $ease $delay;  /* Opera 10.50–12.00 */
  transition: $prop $timing $ease $delay;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

/* VARS */
$black: #282828;
$dark-grey: #404D4D;
$grey: #5B605F;
$mid-grey: #fafafa;
$light-grey: #efefef;
$orange: #f80;
$light-orange: #ffb500;

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  padding-top: 50px;
}

body {
  font-family: "robotoregular";
  color: $black;
  background-color: $mid-grey;
  margin: 0;
  text-align: left;
}

h1,h2,h3,h4,h5,h6{
  color: $dark-grey;
  font-family: "robotobold";
  padding: 0 0 20px;
  margin: 0;
  font-weight: normal;
}

h4 + a, h3 + a {
  display: block;
  margin-bottom: 20px;
  margin-top: -20px;
}

p {
  margin: 10px 0 20px;
}

a {
  color: $orange;
  text-decoration: none;
}

ol,ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

em {
  font-style: normal;
  color: $orange;
  font-family: "robotobold";
  white-space: nowrap;

  &:before {
    content: '[  ';
  }

  &:after {
    content: ' ]';
  }
}

hr {
  border-width: 1px;
  border-style: dashed;
  margin: 50px 0;
}

img {
  display: block;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.3);
  margin-bottom: 20px;
}

.icon {
  border-radius: 100%;
}

.row {

  width: 100%;

  @media screen and (min-width: 846px), print {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }

  @include clearfix;

  [class^=column] {
    padding: 0;

    @media screen and (min-width: 846px), print {
      float: left;
      padding: 0 20px;
    }
  }

  .column-4 {
    @media screen and (min-width: 846px), print {
      width: calc(100% / 3);
    }
  }

  .column-6 {
    @media screen and (min-width: 846px), print {
      width: 50%;
    }
  }
}

.container {
  position: relative;
  max-width: 1100px;
  padding: 0 20px;
  margin: auto;
  z-index: 2;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-transform: uppercase;
  font-family: "robotobold";
  background-color: $dark-grey;
  padding: 20px;
  z-index: 10;

  .menu-left {
    float: left;

    a {
      margin-right: 15px;
    }
  }
  .menu-right {
    float: right;

    a {
      margin-left: 15px;
    }
  }

}

section {

  padding: 80px 0 0;
  position: relative;

  &:first-of-type {
    &:before {
      content: none;
    }
  }

  // &:last-of-type {
  //   padding-bottom: 60px;
  // }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    top: -40px;
    left: 0;
    background-color: $light-grey;
    transform: skewY(1.2deg);
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: -40px;
    left: 0;
    background-color: $mid-grey;
    transform: skewY(-0.9deg);
    z-index: 1;
  }

  &:nth-child(odd) {
    background-color: $light-grey;

    &:before, &:after {
      content: none;
    }
  }

  h2 {
    font-family: 'robotoboldcon';
    text-transform: uppercase;
  }

  &#details {
    max-width: none;
    padding-top: 20px;
    background-color: $dark-grey;
    text-align: center;

    &:after {
      content: '' !important;
      position: absolute;
      width: 100%;
      height: 80px;
      bottom: -40px;
      left: 0;
      background-color: $dark-grey;
      transform: skewY(-0.9deg);
      z-index: 1;
    }

    h1 {
      color: #fff;
    }

    &>div {
      display: inline-block;
      vertical-align: top;
      padding: 10px 0;
    }

    h1#name {
      margin-top: 0;
    }

    p#email,p#phone {
      margin-top: 0;
      margin-bottom: 5px;
    }

    p#linkedin {
      margin-bottom: 0;
    }

    img.hero-image {
      display: inline;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 8px solid #fff;
      box-shadow: 0px 0px 15px 0px rgba(40,40,40,0.5);
    }

    &:before, &:after {
      content: none;
    }


    @media only screen and (min-width: 477px) {
      &>div {
        padding: 10px 20px;
      }

      img {
        width: 150px;
        border-width: 10px;
      }
    }
  }

  &#languages-frameworks {

    .icon {
      width: 56px;
      height: 56px;
      border: 5px solid #fff;
      font-size: 32px;
      color: #fff;
      line-height: 50px;
      text-align: center;
      background-color: $orange;

      @media only screen and (min-width: 477px) {
        width: 68px;
        height: 68px;
        line-height: 66px;
        font-size: 38px;
      }
    }

    ul {
      li {
        display: inline-block;
        margin-right: 10px;

        a {
          display: block;
          position: relative;
          line-height: 0;
          border-top-right-radius: 40px;
          border-top-left-radius: 40px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          margin-bottom: 10px;
          background-color: rgba(255,255,255,1);
          box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.3);

          span {
            display: block;
            text-align: center;
            width: 100%;
            line-height: 20px;
            opacity: 1;
            color: $dark-grey;
            padding-bottom: 2px;
            font-family: 'robotoboldcon';
            font-size: 12px;

            @media only screen and (min-width: 477px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &#experience, &#side-projects {

    h3,h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    h3 + h4 {
      margin-top: -20px;
    }

    ul {
      list-style: none;
      padding-left: 5px;
      margin-bottom: 50px;

      li:before {
        content: '\2022';
        color: $orange;
        font-size: 21px;
        line-height: 9px;
        display: inline-block;
        padding-right: 8px;
        vertical-align: middle;
      }
    }

    .project {
      padding-top: 20px;
      padding-bottom: 20px;

      ul {
        margin-bottom: 20px;
      }

      ol {
        li {
          display: inline-block;
        }
      }

      img.icon {
        width: 38px;
        height: 38px;
        border: 3px solid #fff;
        box-shadow: 0px 0px 5px 0px rgba(40,40,40,0.5);
      }
    }
  }

  &#education {
    padding-bottom: 30px;
    h3 {
      margin: 0;
    }
  }
}

/* HOVER EVENTS */
body.no-touch {
  section {
    &#languages-frameworks {

      .icon {
        box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.3);
      }

      ul {
        li {

          a {
            box-shadow: none;
            background-color: rgba(255,255,255,0);

            @include transition(box-shadow, 0.3s, ease, 0s);
            @include transition(background-color , 0.3s, ease, 0s);

            span {
              opacity: 0;

              @include transition(opacity, 0.3s, ease, 0s);
            }

            &:hover {
              box-shadow: 0px 0px 10px 0px rgba(40,40,40,0.5);
              background-color: rgba(255,255,255,1);

              span {
                opacity: 1;
              }

              .icon {
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }
}
